body {
	background: url("../src/blackbg.jpeg"),no-repeat;
}

.container {
	margin: 50px auto;
	width: 1130px;
	border: 10px solid #ccc;
	overflow: hidden;
}

.clearfix {
	clear: both;
}

.left {
	color: white;
}

.imgslider {
	width: 2300px;
	height: 500px;
	background-color: #ccc;
}

.images {
	margin: 5px;
	height: 500px;
}

.navbtn {
	position: absolute;
	top: 33%;
	height: 100px;
}

#rightbtn {
	right:225px;
}

#leftbtn {
	left: 225px;
}
